{% extends "base.html" %}
{% block title %}{{ peer.username }}님과의 대화{% endblock %}
{% block content %}
<h2>{{ peer.username }}님과의 대화</h2>
<div id="dm-chat" data-peer-id="{{ peer.id }}">
  <ul id="dm-messages">
    {% for m in history %}
      <li>{{ (peer.username if m.sender_id == peer.id else user.username) }}: {{ m.content }}</li>
    {% endfor %}
  </ul>
  <div class="chat-row">
    <input id="dm_input" type="text" placeholder="메시지를 입력하세요" maxlength="500">
    <button id="dm_send" type="button">전송</button>
  </div>
</div>
{% endblock %}

{% block extra_head %}
<script src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/dm.js') }}"></script>
{% endblock %}
